<div class="carousel">
  <div class="car-track">
    {% for image in include.images %}
      <div class="car-slide">
        <img src="{{ image | strip | relative_url }}" alt="">
      </div>
    {% endfor %}
  </div>

  <button class="car-btn prev"
    onclick="this.previousElementSibling.scrollBy({ left: -400, behavior: 'smooth' })">
    ‹
  </button>

  <button class="car-btn next"
    onclick="this.previousElementSibling.scrollBy({ left: 400, behavior: 'smooth' })">
    ›
  </button>
</div>
